@charset "UTF-8";
:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* text colours */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --white: #ffffff;
  /* background colors */
  --main-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --hero-bg: #2f303a;
  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-mobile: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-animation: 1000ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.section-title {
  color: var(--secondary-txt-cl);
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.container {
  /* outline: 1px solid red; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.logo {
  font-family: "Raleway";
  color: var(--accent-cl);
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
  }
}

.logo-text {
  color: #212121;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity var(--animation), visibility var(--modal-animation);
  transition: opacity var(--animation), visibility var(--modal-animation);
  overflow-y: scroll;
}

@media screen and (max-width: 767.98px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transition: opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
  transition: opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
  transition: transform var(--modal-animation), opacity 250ms ease-in-out 200ms;
  transition: transform var(--modal-animation), opacity 250ms ease-in-out 200ms, -webkit-transform var(--modal-animation);
}

@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
  }
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: rotate(0) translate(-50%, -50%);
          transform: rotate(0) translate(-50%, -50%);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  -webkit-transform: rotate(360deg) translate(-50%, -50%);
          transform: rotate(360deg) translate(-50%, -50%);
  opacity: 1;
}

.close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: transparent;
  cursor: pointer;
}

.modal-wrapper__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn__icon {
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.close-btn:hover .close-btn__icon {
  fill: var(--accent-cl);
}

.close-btn:focus .close-btn__icon {
  fill: var(--accent-cl);
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.modal-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__label {
  font-family: var(--main-font);
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

@media screen and (max-width: 767.98px) {
  .modal-form__input {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__message {
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

@media screen and (max-width: 767.98px) {
  .modal-form__message {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__message {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__message {
    width: 448px;
  }
}

.modal-form__message:hover, .modal-form__message:focus {
  border-color: #2196f3;
}

.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__custom-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-right: 7px;
}

.modal-form__policy-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.modal-form__button {
  margin-top: 30px;
}

.modal-form__policy-link {
  color: #2196F3;
}

.modal-form__icon {
  position: absolute;
  top: 55%;
  left: 14px;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__custom-checkbox {
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196f3;
  outline-color: transparent;
}

.modal-form__checkbox:hover + .modal-form__custom-checkbox {
  outline-color: #2196f3;
}

.modal-form__custom-checkbox:focus {
  outline-color: #2196f3;
}

.modal-form__custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opasity 250ms ease;
  transition: opasity 250ms ease;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
  fill: #FFFFFF;
}

.mobile-menu {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  z-index: 1000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.mobile-menu.is-open .menu-toggle.js-open-menu {
  display: none;
}

.mobile-menu__item {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item:focus {
  color: #2196f3;
}

.mobile-menu__tel {
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__mail {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobile-menu__contacts {
  margin-top: auto;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__sosial {
  display: inline-block;
  color: #2196f3;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__sosial:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__sosial:not(:first-child) {
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-cl);
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link--current {
  color: var(--accent-cl);
  position: relative;
}

.navigation__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
  }
}

.mail-group,
.phone-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-txt-cl);
}

@media screen and (min-width: 768px) {
  .mail-group,
  .phone-group {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .mail-group,
  .phone-group {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.phone__link,
.mail__link {
  color: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

@media screen and (min-width: 768px) {
  .mail__link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail__link {
    margin-right: 30px;
  }
}

.mail__link:hover, .mail__link:focus {
  color: var(--accent-cl);
  outline: none;
}

.phone__link:hover,
.phone__link:focus {
  color: var(--accent-cl);
  outline: none;
}

.mail__icon {
  fill: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

@media screen and (min-width: 768px) {
  .mail__icon {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .mail__icon {
    width: 14px;
    height: 10px;
  }
}

.mail__link:hover + .mail__icon,
.mail__link:focus + .mail__icon {
  fill: var(--accent-cl);
}

.phone__icon {
  fill: var(--main-txt-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

@media screen and (min-width: 768px) {
  .phone__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .phone__icon {
    width: 10px;
    height: 14px;
  }
}

.phone__link:hover + .phone__icon,
.phone__link:focus + .phone__icon {
  fill: var(--accent-cl);
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg);
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_sm.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_md.jpg);
    height: 400px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero_lg@2x.jpg);
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  text-align: center;
  color: var(--white);
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  -webkit-animation: vibrate-1 2s linear infinite both;
          animation: vibrate-1 2s linear infinite both;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.benefits__thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .benefits__thumb {
    max-width: 450px;
  }
}

@media screen and (max-width: 767.98px) {
  .benefits__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .benefits__item:nth-child(n+3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.benefits__title {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  margin-right: 30px;
}

.benefits__text:last-child {
  margin-right: 0;
}

.business {
  padding-top: 0;
}

@media screen and (max-width: 1199.98px) {
  .business {
    display: none;
  }
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__item {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}

.business__item:last-child {
  margin-right: 0;
}

.business__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.team {
  background-color: var(--secondary-bg);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.team__lnk {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767.98px) {
  .team__lnk {
    width: 100%;
  }
  .team__lnk:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__lnk {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__lnk {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
    padding-bottom: 30px;
  }
}

.team__image {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .team__image {
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team__image {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__image {
    height: 270px;
  }
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 10px;
}

.team__team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 16px;
}

.clients {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px;
}

@media screen and (max-width: 767.98px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__link {
  background-color: var(--white);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  /* margin-right: 30px; */
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}

@media screen and (max-width: 767.98px) {
  .clients__link {
    width: 210px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    width: 226px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.clients__logo {
  fill: #afb1b8;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    padding-left: 76px;
    padding-right: 89px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .flex-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .info {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    margin-right: 70px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.logo-text--inverse {
  color: var(--white);
}

.info__address {
  font-family: inherit;
  font-style: normal;
}

.info__text {
  color: var(--white);
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
}

.info__mail {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.info__mail:hover, .info__mail:focus {
  color: var(--accent-cl);
}

.info__phone {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  line-height: 1.71;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.info__phone:hover, .info__phone:focus {
  color: var(--accent-cl);
}

@media screen and (max-width: 767.98px) {
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.socials__link--inverse {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sign-up__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sign-up__group {
    margin-right: 12px;
    margin-bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sign-up__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sign-up__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .sign-up__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    max-width: 358px;
  }
}

.sign-up__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.filter__link {
  margin-right: 8px;
}

.filter__link:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767.98px) {
  .filter__link {
    margin-bottom: 15px;
  }
  .filter__link:nth-last-child(-n + 2) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__link {
    margin-bottom: 30px;
  }
  .filter__link:not(:last-child) {
    margin-right: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__link {
    margin-bottom: 50px;
  }
}

.projects__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.projects__button:hover, .projects__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.card-set__item {
  -webkit-transition: var(--animation-mobile);
  transition: var(--animation-mobile);
}

@media screen and (max-width: 767.98px) {
  .card-set__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
  .card-set__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    -webkit-transition: var(--animation);
    transition: var(--animation);
  }
}

@media screen and (max-width: 767.98px) {
  .project-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .project-img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-img {
    width: 370px;
  }
}

.project__meta {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__link:hover .project__meta,
.project__link:focus .project__meta {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
  padding-bottom: 4px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.project__overlay {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.project__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--animation-mobile);
  transition: var(--animation-mobile);
}

@media screen and (min-width: 1200px) {
  .project__description {
    -webkit-transition: var(--animation);
    transition: var(--animation);
  }
}

@media screen and (min-width: 480px) {
  .project__description {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .project__description {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__description {
    padding: 63px 24px;
  }
}

.project__link:hover .project__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__link:focus .project__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */