// utils
@import './utils/vars';
@import './utils/visually-hidden';
// @import './utils/placeholders';
@import './utils/mixins';

// base styles
@import './base/common';
@import './base/reset';
@import './base/animations';
@import './base/container';

// components
@import './components/button';
@import './components/socials';
@import './components/logo';
@import './components/modal-form';
@import './components/mobile-menu';

// layuots
@import './layouts/header';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/business';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/projects';
@import './layouts/advantages';