:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* text colours */
    --accent-cl: #2196f3;
    --main-txt-cl: #757575;
    --secondary-txt-cl: #212121;
    --white: #ffffff;

    /* background colors */
    --main-bg: #ffffff;
    --secondary-bg: #f5f4fa;
    --hero-bg: #2f303a;

    /* animation */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation-mobile: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-animation: 1000ms ease-in-out;
}