.socials {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #afb1b8;
    transition: var(--animation);

    &:hover,
    &:focus {
    background-color: #2196f3;
    color: #ffffff;
    }
}
// .socials__link:hover,
// .socials__link:focus {
//     background-color: #2196f3;
//     color: #ffffff;
// }

.socials__icon {
    fill: currentColor;
}