body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

}

.section-title {
    color: var(--secondary-txt-cl);
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;

    @include mq(desktop) {
        @include fonts (700, 36px, 1.17, 0.03em);
        margin-bottom: 50px;
    }
}